h1{
    font-weight: 650;
    font-family: sans-serif;
    text-align: center;
}

h2{
    color:rgb(201, 108, 201);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif, sans-serif;
    text-align: center;
}

 table,tr{
    text-decoration: underline 2px solid plum ;
    /* text-decoration-color:red;  */
}

table{
    border: 3px solid plum;
    margin-left: auto;
    margin-right: auto;
}

.tag{
    background-color: rgb(255, 255, 218);
    font-family: monospace;
    text-align: center;
    
}

.captions{
    background-color: rgb(241, 157, 241);
    text-align: center;
    font-weight: bold;
    letter-spacing: 2px;;
}

body{
    background-color: beige;
}